@using Presentation.Extensions
@using CrossCutting;
@*@using EntitiesServices.Work_Classes;*@
@model EntitiesServices.Model.USUARIO
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title"> 
        <h3 class="title">Usuários</h3> 
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Usuários</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Hoje</span>
                    <h5>Usuários</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.Usuarios</h1>
                    <div class="stat-percent font-bold text-navy">32% <i class="fa fa-level-up"></i></div>
                    <small>Usuários Cadastrados</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Hoje</span>
                    <h5>Bloqueios</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.UsuariosBloqueados</h1>
                    <div class="stat-percent font-bold text-navy">0% <i class="fa fa-level-up"></i></div>
                    <small>Usuários Bloqueados</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filtros</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>           
            
                @using (Html.BeginForm("FiltrarUsuario", "Administracao", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="ibox-content">
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    Nome
                                    @Html.TextBoxFor(m => m.USUA_NM_NOME, new { @class = "form-control", autofocus = true })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Login 
                                    @Html.TextBoxFor(m => m.USUA_NM_LOGIN, new { @class = "form-control", autofocus = true })
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    E-Mail
                                    @Html.TextBoxFor(m => m.USUA_NM_EMAIL, new { @class = "form-control",  autofocus = true })
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    Perfil
                                    @Html.DropDownListFor(m => m.PERF_CD_ID, (SelectList)ViewBag.Perfis, "Selecionar", new { @class = "form-control" ,  autofocus = true })                            
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    @Html.ButtonActionSubmit(text: "Filtrar")
                                    @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Administracao", action: "RetirarFiltro")
                                    @Html.ButtonLinkIndex(text: "Exibir Todos", controller: "Administracao", action: "MostrarTudo")
                                    @if (ViewBag.Perfil == "ADM" || ViewBag.Perfil == "CLI")
                                    {
                                        @Html.ButtonLinkIndex(text: "Novo Usuário", controller: "Administracao", action: "IncluirUsuario")
                                    }
                                    @Html.ButtonLinkIndex(text: "Gerar Relatório", controller: "BaseAdmin", action: "CarregarDesenvolvimento")
                                    @Html.ButtonLinkIndex(text: "Voltar", controller: "Administracao", action: "Voltar")
                                </div>
                            </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Usuários</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="row">
                            @if ((ViewBag.Listas as List<EntitiesServices.Model.USUARIO>).Count > 0)                                        {
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead style ="background-color:lightsteelblue">
                                        <tr>
                                            <th>Nome</th>   
                                            <th>E-Mail</th>
                                            <th>Login</th>
                                            <th>Perfil</th>
                                            <th>Bloqueado</th>
                                            <th>Acessos</th>
                                            <th></th>
                                            <th class="td-one-action">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var cond in (ViewBag.Listas as List<EntitiesServices.Model.USUARIO>))
                                        {
                                            <tr>
                                                <td>@cond.USUA_NM_NOME</td>
                                                <td>@cond.USUA_NM_EMAIL</td>
                                                <td>@cond.USUA_NM_LOGIN</td>
                                                <td>@cond.PERFIL.PERF_NM_NOME</td>    
                                                @if (cond.USUA_IN_BLOQUEADO == 1)
                                                {
                                                    <td>Sim</td>    
                                                }
                                                else
                                                {
                                                    <td>Não</td>    
                                                }
                                                <td>@cond.USUA_NR_ACESSOS.Value</td>  
                                                @if (!String.IsNullOrEmpty(cond.USUA_AQ_FOTO))
	                                            {
                                                    <td><img src="@Url.Content(cond.USUA_AQ_FOTO)" style = "width: auto; height: auto; max-height: 55px; max-width: 45px;"></td>
                                                }
                                                else
                                                {
                                                    <td><img src="~/Images/a8.jpg" style = "width: auto; height: auto; max-height: 55px; max-width: 45px;"></td>
                                                }                                              
                                                <td class="td-one-action">
                                                    @Html.TableLinkDetails(cond.USUA_CD_ID, "EditarUsuario","fa-edit", "Editar/Ver Usuário")
                                                    @if (cond.USUA_IN_BLOQUEADO == 1)
	                                                {
                                                        @Html.TableLinkDetails(cond.USUA_CD_ID, "DesbloquearUsuario","fa-thumbs-o-up", "Desbloquear Usuário")
                                                    }
                                                    else
                                                    {
                                                        @Html.TableLinkDetails(cond.USUA_CD_ID, "BloquearUsuario","fa-thumbs-o-down", "Bloquear Usuário"            )
                                                    }
                                                    @if (cond.USUA_IN_ATIVO == 1)
	                                                {
                                                        @Html.TableLinkDetails(cond.USUA_CD_ID, "DesativarUsuario","fa-trash-o", "Desativar Usuário")
                                                    }
                                                    else
                                                    {   
                                                        @Html.TableLinkDetails(cond.USUA_CD_ID, "ReativarUsuario","fa-refresh", "Reativar Usuário")
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });

           

        });

    </script>
    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
        });
    </script>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

